<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">URL Shortener Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="logOut()">Logout</a>
            </li>
            <li *ngIf="!isUserAuthenticated()" class="nav-item active">
                <a class="nav-link" routerLink="/userboard">User Board</a>
            </li>
        </ul>
    </div>
</nav>

<form class="form-horizontal" [formGroup]="urlForm">
    <h1 style="text-align: center;">Welcome to Angular 14 CRUD with .NET 6 Web API</h1>
    <div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">URL Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtURLName" formControlName="urlName"
                    placeholder="Name of URL">
            </div>
        </div>
        <br />
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">URL Uses:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtURLUses" formControlName="urlUsesCounter"
                    placeholder="URL Uses">
            </div>
        </div>
        <br />
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Long URL:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtURLLong" formControlName="urlLong"
                    placeholder="Long URL">
            </div>
        </div>
        <br />
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Short URL:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtURLShort" formControlName="urlShort"
                    placeholder="Short URL">
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <button type="submit" class="btn btn-primary"
                            (click)="PostUrl(urlForm.value)">Submit</button>
                    </div>
                    <div class="col-sm">
                        <button type="submit" class="btn btn-primary"
                            (click)="UpdateURl(urlForm.value)">Update</button>
                    </div>
                    <div class="col-sm">
                        <button type="submit" class="btn btn-primary" (click)="Clear(urlForm.value)">Clear</button>
                    </div>
                </div>
            </div>
            <br />
        </div>
        <div>
            <div class="alert alert-success" style="text-align: center;"><b>URL List</b></div>
            <div class="table-responsive" style="text-align: center;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">URL Name</th>
                            <th scope="col">URL Uses</th>
                            <th scope="col">Long URL</th>
                            <th scope="col">short URL</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let url of UrlList | async; index as i">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{url.urlName}}</td>
                            <td>{{url.urlUsesCounter}}</td>
                            <td>{{url.urlLong}}</td>
                            <td>{{url.urlShort}}</td>
                            <td><button type="button" class="btn1" matTooltip="Click Edit Button"
                                    (click)='UrlDetailsToEdit(url.urlId)'>Edit</button>
                                |
                                <button type="button" class="btn1" matTooltip="Click Delete Button"
                                    (click)="DeleteUrl(url.urlId)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>